<div class="wrapper">
    <header class="main-header">
        <a href="javascript:void(0)" class="navbar-brand">
            IoT Demo
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li *ngFor="let tab of navTabs" [class.active]="tab === currentTab" (click)=onTabSelect(tab)>
                    <a [routerLink]="[tab.path]">{{tab.title}}</a>
                </li>
            </ul>
        </nav>
    </header>

    <div #content class="content-wrapper">
        <router-outlet></router-outlet>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>