<div class="dashboard">
    <div class="main-sidebar">
        <!-- Inner sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li class="active">
                    <a href="javascript:void(0)"><span>平日开店</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>假日开店</span></a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0)"><span>闭店保安</span></a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->

        </div>
        <!-- /.sidebar -->
    </div>
    <!-- /.main-sidebar -->
</div>